body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}


.navbar-brand {
  font-weight: bold;
  font-size: 24px;
}


h1, h2 {
  background-color:yellow;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom:10px;
}

img {
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

ul, ol {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
}

/* Footer styles */
footer {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}
